<ul>
  <button type="button" (click)="toggleFilter()">Filter</button>
  @for (eachBook of bookList | bookFilter: applyFilter; track eachBook.key) {
  <li>
    <div>{{ eachBook.key }}</div>
    <div>{{ eachBook.title | uppercase }}</div>
    <img
      [src]="eachBook.covers | coverUrl"
      [alt]="eachBook.title"
    />
    <div>{{ eachBook.covers }}</div>
    <a [routerLink]="['/details', eachBook.key]">{{
      eachBook.title + " details"
    }}</a>
  </li>
  <!-- afficher un lien qui permet de changer de page pour les détails d'un seul livre -->
  }
</ul>
